node-red/archive/esp32_influx_dashboard.json
[
    {
        "id": "7f9c205b8f11c9b7",
        "type": "mqtt in",
        "z": "b1234567890abcdef",
        "name": "ESP32 Sensors",
        "topic": "esp32/sensors",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker_local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 160,
        "y": 100,
        "wires": [["save_influx", "chart_temp", "check_temp"]]
    },
    {
        "id": "save_influx",
        "type": "influxdb out",
        "z": "b1234567890abcdef",
        "influxdb": "influx_local",
        "name": "Save to InfluxDB",
        "measurement": "temperature",
        "precision": "",
        "retentionPolicy": "",
        "database": "sensors",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "",
        "bucket": "",
        "x": 430,
        "y": 60,
        "wires": []
    },
    {
        "id": "chart_temp",
        "type": "ui_chart",
        "z": "b1234567890abcdef",
        "name": "Temperature Chart",
        "group": "ui_group_main",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": ["#ff0000","#aec7e8","#ff7f0e"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 440,
        "y": 140,
        "wires": [[]]
    },
    {
        "id": "check_temp",
        "type": "function",
        "z": "b1234567890abcdef",
        "name": "Check Temp Threshold",
        "func": "if (msg.payload.temp > 30) {\n    return { topic: \"esp32/alarm\", payload: \"ON\" };\n} else {\n    return { topic: \"esp32/alarm\", payload: \"OFF\" };\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 200,
        "wires": [["mqtt_alarm_out"]]
    },
    {
        "id": "mqtt_alarm_out",
        "type": "mqtt out",
        "z": "b1234567890abcdef",
        "name": "ESP32 Alarm Out",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_local",
        "x": 680,
        "y": 200,
        "wires": []
    },
    {
        "id": "mqtt_broker_local",
        "type": "mqtt-broker",
        "name": "Local MQTT Broker",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "influx_local",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "sensors",
        "name": "Influx Local",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "",
        "rejectUnauthorized": false
    },
    {
        "id": "ui_group_main",
        "type": "ui_group",
        "name": "Main",
        "tab": "ui_tab_main",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_tab_main",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1
    }
]
